//-
//- ShapeFromShading - Creating heightmaps out of 2D seal images.
//- Copyright (C) 2021
//- Joana Bergsiek, Leonard Geier, Lisa Ihde, Tobias Markus, Dominik Meier, Paul Methfessel
//- This program is free software: you can redistribute it and/or modify
//- it under the terms of the GNU General Public License as published by
//- the Free Software Foundation, either version 3 of the License, or
//- (at your option) any later version.
//-
//- This program is distributed in the hope that it will be useful,
//- but WITHOUT ANY WARRANTY; without even the implied warranty of
//- MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//- GNU General Public License for more details.
//-
//- You should have received a copy of the GNU General Public License
//- along with this program.  If not, see <https://www.gnu.org/licenses/>.

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title FabSeal
        //- Parcels does not support different css files for multiple end points, so we have to do it like this
        link(rel="stylesheet" href="pages/page.sass")
        link(rel="stylesheet" href="pages/home.sass")
        link(rel="stylesheet" href="pages/siegelview.sass")
        link(rel="stylesheet" href="components/siegel3dcanvas.sass")
    body
        block app
        script(src="createApp.ts")
