doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Siegel
        link(rel="stylesheet" href="pages/page.sass")
    body
        block app
        script(src="createApp.ts")
