#app
    header
      #about
        a(href="../home.pug")
          img(src="../assets/FabSealLogo.png" alt="Mock")
        a#title(href="../home.pug") FabSeal
      menu
        a(href="../browse.pug") Siegel durchstöbern
    block content
    footer
        .top
            a(href="mailto:fab.seal@gmail.com") Kontakt
        .bottom
            span Copyright © 2021 FabSeal
