#app
    header
        a#title(href="../home.pug") Siegler
        menu
            a(href="../merge.pug") Create
            a(href="../browse.pug") Browse
            a(href="../home.pug") About
    block content
    footer
        .top
            a About
            a Kontakt
            a Impressum
        .bottom
            span Copyright © 2020 Siegler von Catan
