@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap')

@import variables

html
  font-size: 16px

body
  margin: 0
  padding: 0

  font-size: 62.5%
  font-family: $content
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=ffffffff&noise=626262&density=5&opacity=44)

  @mixin create-mq($breakpoint)
    @if($breakpoint == 0)
      @content
    @else
      @media screen and (min-width: $breakpoint *1px)
        @content

  @mixin create-col-classes($modifier, $grid-cols, $breakpoint)
    @include create-mq($breakpoint)
      @for $i from 1 through $grid-cols
        &__col#{$modifier}-#{$i}
          flex-basis: (100 / ($grid-cols / $i) ) * 1%

  .container
    max-width: $grid__bp-md * 1px
    margin: 0 auto
    box-sizing: border-box

    &--fluid
      margin: 0
      max-width: 100%

    &__row
      display: flex
      flex-wrap: wrap
      width: 100%

    @at-root
      [class*='container__col-']
        display: flex
        align-items: center
        justify-content: space-around

    @each $modifier , $breakpoint in $map-grid-props
      @include create-col-classes($modifier, $grid__cols, $breakpoint)

header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 2em
  background: $accent
  color: $base
  font-size: 1.6em

  #about
    display: flex
    justify-content: center
    align-items: center

    a
      padding: .1em

  img
    max-height: 4em

  #title
    font-size: 1.8em
    font-family: $title

  a
    color: $base
    text-decoration: none

  menu a
      margin: 2em

footer
  text-align: center
  font-size: 1em
  margin-bottom: 3em

  .top
    margin-bottom: 1.2em

    a
      margin: 0 1em
      font-size: 1.2em
      color: $accent
      text-decoration: none
