#app
    header
      #about
        a(href="../home.pug")
          img(src="../assets/FabSealLogo.png" alt="Mock")
        a#title(href="../home.pug") FabSeal
      menu
        a(href="../browse.pug") Siegel durchstöbern
    block content
    footer
      span Copyright © 2021 FabSeal | #[a(href="https://codingdavinci.de/de/events/niedersachsen-2020", target="_blank") Coding da Vinci Niedersachsen]
