@import variables
@import icons

.location
  display: flex
  align-items: center
  position: relative
  font-size: 1.4em
  margin-bottom: 3em

  .line
    position: absolute
    bottom: 0.5px
    border-radius: 0.75px
    height: 1.5px
    background: $grey-80
    transition: left .5s ease, width .5s ease

  .entry

    a
      font-family: $font-content
      color: $grey-100
      text-decoration: none

  .right
    background-size: cover
    background-position: center
    width: 1em
    height: 1em
    margin: 0 .3em

  .right:last-of-type
    display: none
